body{
    background-image: url("img/Track.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.card{
    opacity: 90%;
}

#showIntro{
    animation: countStarter 1s infinite;
}

@keyframes countStarter 
{
    50% {
        transform: scale(3.01);
    }
  }